<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->
<link rel="stylesheet" href="/assets/css/footer.css">

<footer id="footer">
    <div class="container">

    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">pgGallery LLC</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>